body {
  background-color: tomato;
  border: 1px solid powderblue;
  margin: 50px
}

.loader {
  border:16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spina 2s linear infinite;
}

@keyframes spina {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
